# Perform Exploratory Analysis & Visualizations using Matploylib  & Seaborn

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
#evictions_df = pd.read_csv("Evictions.csv")
evictions_df = pd.read_csv('Evictions.csv', index_col=0, parse_dates=[4])

evictions_df.head()
#evictions_df.info()

,Docket Number,Eviction Address,Eviction Apartment Number,Executed Date,Marshal First Name,Marshal Last Name,Residential/Commercial,BOROUGH,Eviction Postcode,Ejectment,Eviction/Legal Possession,Latitude,Longitude,Community Board,Council District,Census Tract,BIN,BBL,NTA
Court Index Number,,,,,,,,,,,,,,,,,,,
50365/19,352435,319 WEST 94TH STREET,C103,2019-03-25,Thomas,Bia,Residential,MANHATTAN,10025,Not an Ejectment,Possession,40.794205,-73.974734,7.0,6.0,183.0,1034178.0,1.012530e+09,Upper West Side
B068159/16,379048,2332 CRESTON AVE,41,2017-04-25,Richard,McCoy,Residential,BRONX,10468,Not an Ejectment,Possession,40.858643,-73.900402,5.0,14.0,23703.0,2013777.0,2.031640e+09,Fordham South
59891/16,320691,2670 BAINBRIDGE AVENUE,2F,2017-02-21,John,Villanueva,Residential,BRONX,10458,Not an Ejectment,Possession,40.865470,-73.891472,7.0,15.0,40502.0,2016620.0,2.032870e+09,Bedford Park-Fordham North
75708/18,115775,18-24 25TH ROAD,1,2019-04-23,Maxine,Chevlowe,Residential,QUEENS,11102,Not an Ejectment,Possession,40.774861,-73.926140,1.0,22.0,91.0,4019956.0,4.008870e+09,Old Astoria
900940/18,86395,3005 EASTCHESTER RO AD,STOREFRONT,2018-11-08,Justin,Grossman,Commercial,BRONX,10469,Not an Ejectment,Possession,40.869607,-73.842766,12.0,12.0,358.0,2061802.0,2.047620e+09,Eastchester-Edenwald-Baychester

In [4]:
evictions_df.shape

(67728, 19)

In [5]:
evictions_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 67728 entries, 50365/19 to 20290/16
Data columns (total 19 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Docket Number              67728 non-null  int64
 1   Eviction Address           67728 non-null  object
 2   Eviction Apartment Number  56519 non-null  object
 3   Executed Date              67728 non-null  datetime64[ns]
 4   Marshal First Name         67728 non-null  object
 5   Marshal Last Name          67728 non-null  object
 6   Residential/Commercial     67728 non-null  object
 7   BOROUGH                    67728 non-null  object
 8   Eviction Postcode          67728 non-null  int64
 9   Ejectment                  67728 non-null  object
 10  Eviction/Legal Possession  67728 non-null  object
 11  Latitude                   61284 non-null  float64
 12  Longitude                  61284 non-null  float64
 13  Community Board            61284 non-null  float64
 14  Council District           61284 non-null  float64
 15  Census Tract               61284 non-null  float64
 16  BIN                        61166 non-null  float64
 17  BBL                        61166 non-null  float64
 18  NTA                        61284 non-null  object
dtypes: datetime64[ns](1), float64(7), int64(2), object(9)
memory usage: 10.3+ MB

In [6]:
#replacing spaces in the data sheet column names
evictions_df.columns = evictions_df.columns.str.replace(' ','_')
#print info again to see the changes to the columns names
evictions_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 67728 entries, 50365/19 to 20290/16
Data columns (total 19 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Docket_Number_             67728 non-null  int64
 1   Eviction_Address           67728 non-null  object
 2   Eviction_Apartment_Number  56519 non-null  object
 3   Executed_Date              67728 non-null  datetime64[ns]
 4   Marshal_First_Name         67728 non-null  object
 5   Marshal_Last_Name          67728 non-null  object
 6   Residential/Commercial     67728 non-null  object
 7   BOROUGH                    67728 non-null  object
 8   Eviction_Postcode          67728 non-null  int64
 9   Ejectment                  67728 non-null  object
 10  Eviction/Legal_Possession  67728 non-null  object
 11  Latitude                   61284 non-null  float64
 12  Longitude                  61284 non-null  float64
 13  Community_Board            61284 non-null  float64
 14  Council_District           61284 non-null  float64
 15  Census_Tract               61284 non-null  float64
 16  BIN                        61166 non-null  float64
 17  BBL                        61166 non-null  float64
 18  NTA                        61284 non-null  object
dtypes: datetime64[ns](1), float64(7), int64(2), object(9)
memory usage: 10.3+ MB

In [7]:
#allows all results to be seen
#pd.set_option("display.max_rows", None)

#returns a list of all the evictions that occurred on the eviction address "541 WEST 29TH STREET" which showed
#to have 71 duplicates, however with .head() at the end it only shows the first 5
pd.DataFrame(evictions_df.where(evictions_df['Eviction_Address']=='541 WEST 29TH STREET').dropna().head())

,Docket_Number_,Eviction_Address,Eviction_Apartment_Number,Executed_Date,Marshal_First_Name,Marshal_Last_Name,Residential/Commercial,BOROUGH,Eviction_Postcode,Ejectment,Eviction/Legal_Possession,Latitude,Longitude,Community_Board,Council_District,Census_Tract,BIN,BBL,NTA
Court Index Number,,,,,,,,,,,,,,,,,,,
69121/18,347777.0,541 WEST 29TH STREET,STORAGE,2018-09-27,Thomas,Bia,Commercial,MANHATTAN,10001.0,Not an Ejectment,Possession,40.752059,-74.002862,4.0,3.0,99.0,1080331.0,1.007010e+09,Hudson Yards-Chelsea-Flatiron-Union Square
69120/18,347780.0,541 WEST 29TH STREET,STORAGE,2018-09-25,Thomas,Bia,Commercial,MANHATTAN,10001.0,Not an Ejectment,Possession,40.752059,-74.002862,4.0,3.0,99.0,1080331.0,1.007010e+09,Hudson Yards-Chelsea-Flatiron-Union Square
53174/19,352822.0,541 WEST 29TH STREET,STORAGE,2019-03-27,Thomas,Bia,Commercial,MANHATTAN,10001.0,Not an Ejectment,Possession,40.752059,-74.002862,4.0,3.0,99.0,1080331.0,1.007010e+09,Hudson Yards-Chelsea-Flatiron-Union Square
63503/18,346075.0,541 WEST 29TH STREET,STORAGE,2018-07-20,Thomas,Bia,Commercial,MANHATTAN,10001.0,Not an Ejectment,Possession,40.752059,-74.002862,4.0,3.0,99.0,1080331.0,1.007010e+09,Hudson Yards-Chelsea-Flatiron-Union Square
60155/17,333887.0,541 WEST 29TH STREET,STORAGE,2017-06-08,Thomas,Bia,Commercial,MANHATTAN,10001.0,Not an Ejectment,Possession,40.752059,-74.002862,4.0,3.0,99.0,1080331.0,1.007010e+09,Hudson Yards-Chelsea-Flatiron-Union Square

In [ ]:
pd.set_option("display.max_rows", None)
#returns a list of all the evictions that occurred on the eviction address "541 WEST 29TH STREET" which showed
#to have 71 duplicates
pd.DataFrame(evictions_df.where(evictions_df['Eviction_Address']=='541 WEST 29TH STREET').dropna())

In [5]:
#Shows only the address that are 20 over duplicated and drops all the others from the list

#dupps = pd.DataFrame(evictions_df['Eviction_Address'].value_counts(dropna=True).loc[lambda x : x>=20])
#print(dupps.count())
#print(dupps)

In [6]:
#dupps = pd.DataFrame(evictions_df['Eviction_Address'].value_counts(dropna=True).loc[lambda x : x>=20])
#print(dupps.count())
#print(dupps)

In [7]:
#Gives me the matching address only with its count of duplicates

#addy1 = pd.DataFrame(evictions_df['Eviction_Address'].where(evictions_df['Eviction_Address']=='541 WEST 29TH STREET').value_counts(dropna=True))
#print(addy1)