In [71]:
from sqlalchemy import create_engine
import pandas as pd

In [100]:
df = pd.read_csv('transformed_evictions_df.csv')
df.info()

df

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 67184 entries, 0 to 67183
Data columns (total 11 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Docket_Number_                67184 non-null  int64
 1   Eviction_Address              67184 non-null  object
 2   Executed_Date                 67184 non-null  object
 3   Property_Type                 67184 non-null  object
 4   Borough                       67184 non-null  object
 5   Eviction_Postcode             67184 non-null  int64
 6   Ejectment                     67184 non-null  object
 7   Eviction/Legal_Possession     67184 non-null  object
 8   Latitude                      60763 non-null  float64
 9   Longitude                     60763 non-null  float64
 10  Neighborhood_Tabulation_Area  60763 non-null  object
dtypes: float64(2), int64(2), object(7)
memory usage: 5.6+ MB

,Docket_Number_,Eviction_Address,Executed_Date,Property_Type,Borough,Eviction_Postcode,Ejectment,Eviction/Legal_Possession,Latitude,Longitude,Neighborhood_Tabulation_Area
0,352435,319 WEST 94TH STREET,2019-03-25,Residential,MANHATTAN,10025,Not an Ejectment,Possession,40.794205,-73.974734,Upper West Side
1,379048,2332 CRESTON AVE,2017-04-25,Residential,BRONX,10468,Not an Ejectment,Possession,40.858643,-73.900402,Fordham South
2,320691,2670 BAINBRIDGE AVENUE,2017-02-21,Residential,BRONX,10458,Not an Ejectment,Possession,40.865470,-73.891472,Bedford Park-Fordham North
3,115775,18-24 25TH ROAD,2019-04-23,Residential,QUEENS,11102,Not an Ejectment,Possession,40.774861,-73.926140,Old Astoria
4,86395,3005 EASTCHESTER RO AD,2018-11-08,Commercial,BRONX,10469,Not an Ejectment,Possession,40.869607,-73.842766,Eastchester-Edenwald-Baychester
...,...,...,...,...,...,...,...,...,...,...,...
67179,68450,182 ARLINGTON AVENUE,2017-03-29,Residential,STATEN ISLAND,10303,Not an Ejectment,Possession,40.635485,-74.167531,Mariner's Harbor-Arlington-Port Ivory-Granitev...
67180,81749,600 WEST 136TH STREE T,2017-09-27,Residential,MANHATTAN,10031,Not an Ejectment,Possession,40.820935,-73.954996,Manhattanville
67181,208636,115 LINCOLN ROAD,2020-01-09,Residential,BROOKLYN,11225,Not an Ejectment,Possession,40.661077,-73.958799,Prospect Lefferts Gardens-Wingate
67182,83318,1131-1133 OGDEN AVEN UE,2017-12-13,Residential,BRONX,10452,Not an Ejectment,Possession,40.836286,-73.927496,Highbridge
67183,59510,5 FLEET WALK,2017-08-02,Residential,BROOKLYN,11201,Not an Ejectment,Possession,40.695529,-73.981230,DUMBO-Vinegar Hill-Downtown Brooklyn-Boerum Hill

In [73]:
#convert date executed type object into datetime
df['Executed_Date']= pd.to_datetime(df['Executed_Date'])

In [74]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 67184 entries, 0 to 67183
Data columns (total 11 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Docket_Number_                67184 non-null  int64
 1   Eviction_Address              67184 non-null  object
 2   Executed_Date                 67184 non-null  datetime64[ns]
 3   Property_Type                 67184 non-null  object
 4   Borough                       67184 non-null  object
 5   Eviction_Postcode             67184 non-null  int64
 6   Ejectment                     67184 non-null  object
 7   Eviction/Legal_Possession     67184 non-null  object
 8   Latitude                      60763 non-null  float64
 9   Longitude                     60763 non-null  float64
 10  Neighborhood_Tabulation_Area  60763 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(2), object(6)
memory usage: 5.6+ MB

In [75]:
evict_2017 = df.loc[(df['Executed_Date'].dt.year == 2017)]
evict_2017

,Docket_Number_,Eviction_Address,Executed_Date,Property_Type,Borough,Eviction_Postcode,Ejectment,Eviction/Legal_Possession,Latitude,Longitude,Neighborhood_Tabulation_Area
1,379048,2332 CRESTON AVE,2017-04-25,Residential,BRONX,10468,Not an Ejectment,Possession,40.858643,-73.900402,Fordham South
2,320691,2670 BAINBRIDGE AVENUE,2017-02-21,Residential,BRONX,10458,Not an Ejectment,Possession,40.865470,-73.891472,Bedford Park-Fordham North
14,67648,643 EAST 222ND ST,2017-10-30,Residential,BRONX,10467,Not an Ejectment,Possession,40.886286,-73.863468,Williamsbridge-Olinville
16,468806,420 E. 61ST ST AKA O NE SUTTON PLACE N.,2017-06-01,Residential,MANHATTAN,10065,Not an Ejectment,Possession,40.760575,-73.960412,Lenox Hill-Roosevelt Island
18,377335,2375 SOUTHERN BOULEVARD,2017-09-19,Residential,BRONX,10460,Not an Ejectment,Possession,40.852801,-73.881834,Belmont
...,...,...,...,...,...,...,...,...,...,...,...
67176,199218,90 EAST 18TH STREET,2017-02-23,Residential,BROOKLYN,11226,Not an Ejectment,Possession,40.648965,-73.962994,Flatbush
67179,68450,182 ARLINGTON AVENUE,2017-03-29,Residential,STATEN ISLAND,10303,Not an Ejectment,Possession,40.635485,-74.167531,Mariner's Harbor-Arlington-Port Ivory-Granitev...
67180,81749,600 WEST 136TH STREE T,2017-09-27,Residential,MANHATTAN,10031,Not an Ejectment,Possession,40.820935,-73.954996,Manhattanville
67182,83318,1131-1133 OGDEN AVEN UE,2017-12-13,Residential,BRONX,10452,Not an Ejectment,Possession,40.836286,-73.927496,Highbridge
67183,59510,5 FLEET WALK,2017-08-02,Residential,BROOKLYN,11201,Not an Ejectment,Possession,40.695529,-73.981230,DUMBO-Vinegar Hill-Downtown Brooklyn-Boerum Hill

In [76]:
## top 5 postal codes with the most eviction count grouped by borough
top_evicts = df.groupby(['Borough', 'Neighborhood_Tabulation_Area']).Eviction_Postcode.value_counts().nlargest(5)
from sqlalchemy import create_enginepd.DataFrame(top_evicts)

SyntaxError: invalid syntax (4183198166.py, line 3)

In [86]:


df= pd.read_csv('transformed_evictions_df.csv')
dataFrame = pd.DataFrame(df)
my_con = create_engine('mysql+pymysql://root:12345678@localhost/nycEvictions')

In [87]:
dataFrame.to_sql('cleanedEvictions',my_con)

67184

In [90]:
df.duplicated().value_counts()

False    67182
True         2
dtype: int64

In [91]:
df[df.duplicated()]

,Docket_Number_,Eviction_Address,Executed_Date,Property_Type,Borough,Eviction_Postcode,Ejectment,Eviction/Legal_Possession,Latitude,Longitude,Neighborhood_Tabulation_Area
28599,18058,644 - EAST 78TH STREET,2017-04-10,Residential,BROOKLYN,11236,Not an Ejectment,Possession,NaN,NaN,NaN
41142,18059,644 -EAST 78TH STREET,2017-04-10,Residential,BROOKLYN,11236,Not an Ejectment,Possession,40.636939,-73.91744,Canarsie

In [92]:
df[df.duplicated('Docket_Number_')]

,Docket_Number_,Eviction_Address,Executed_Date,Property_Type,Borough,Eviction_Postcode,Ejectment,Eviction/Legal_Possession,Latitude,Longitude,Neighborhood_Tabulation_Area
700,89754,115-27 122ND STREET,2018-09-28,Residential,QUEENS,11420,Not an Ejectment,Possession,40.676945,-73.816567,South Ozone Park
977,2658,323 EAST GUNHILL RD,2019-07-24,Commercial,BRONX,10467,Not an Ejectment,Possession,40.878914,-73.873713,Norwood
996,18364,388 CHRISTOPHER AVEN UE ENTIRE HOUSE,2019-10-28,Residential,BROOKLYN,11212,Not an Ejectment,Possession,NaN,NaN,NaN
1664,91728,1064 CAULDWELL AVE,2019-07-18,Residential,BRONX,10456,Not an Ejectment,Possession,40.826364,-73.905581,Morrisania-Melrose
1704,97010,1469 PRESIDENT ST,2019-08-28,Residential,BROOKLYN,11213,Not an Ejectment,Possession,40.667516,-73.940277,Crown Heights South
...,...,...,...,...,...,...,...,...,...,...,...
67169,99309,1955 RICHMOND TERR ACE,2020-01-17,Residential,STATEN ISLAND,10302,Not an Ejectment,Possession,NaN,NaN,NaN
67171,12034,153 EIGHTH AVENUE - NORTHERNMOST STORE & PORTI...,2019-11-07,Commercial,MANHATTAN,10011,Not an Ejectment,Possession,NaN,NaN,NaN
67172,2467,5212 GLENWOOD ROAD,2019-07-24,Residential,BROOKLYN,11234,Not an Ejectment,Possession,40.635312,-73.926442,Flatlands
67175,75742,1750 EAST 172ND ST,2018-03-01,Residential,BRONX,10472,Not an Ejectment,Possession,40.832625,-73.868901,West Farms-Bronx River
67180,81749,600 WEST 136TH STREE T,2017-09-27,Residential,MANHATTAN,10031,Not an Ejectment,Possession,40.820935,-73.954996,Manhattanville

In [94]:
df.shape

(67184, 11)

In [95]:
df[df.duplicated(keep=False)]

,Docket_Number_,Eviction_Address,Executed_Date,Property_Type,Borough,Eviction_Postcode,Ejectment,Eviction/Legal_Possession,Latitude,Longitude,Neighborhood_Tabulation_Area
7519,18058,644 - EAST 78TH STREET,2017-04-10,Residential,BROOKLYN,11236,Not an Ejectment,Possession,NaN,NaN,NaN
10212,18059,644 -EAST 78TH STREET,2017-04-10,Residential,BROOKLYN,11236,Not an Ejectment,Possession,40.636939,-73.91744,Canarsie
28599,18058,644 - EAST 78TH STREET,2017-04-10,Residential,BROOKLYN,11236,Not an Ejectment,Possession,NaN,NaN,NaN
41142,18059,644 -EAST 78TH STREET,2017-04-10,Residential,BROOKLYN,11236,Not an Ejectment,Possession,40.636939,-73.91744,Canarsie

In [101]:
df[df.duplicated(keep=False)]

,Docket_Number_,Eviction_Address,Executed_Date,Property_Type,Borough,Eviction_Postcode,Ejectment,Eviction/Legal_Possession,Latitude,Longitude,Neighborhood_Tabulation_Area
7519,18058,644 - EAST 78TH STREET,2017-04-10,Residential,BROOKLYN,11236,Not an Ejectment,Possession,NaN,NaN,NaN
10212,18059,644 -EAST 78TH STREET,2017-04-10,Residential,BROOKLYN,11236,Not an Ejectment,Possession,40.636939,-73.91744,Canarsie
28599,18058,644 - EAST 78TH STREET,2017-04-10,Residential,BROOKLYN,11236,Not an Ejectment,Possession,NaN,NaN,NaN
41142,18059,644 -EAST 78TH STREET,2017-04-10,Residential,BROOKLYN,11236,Not an Ejectment,Possession,40.636939,-73.91744,Canarsie

In [102]:
df = df.drop(labels=[7519,10212], axis=0)

In [104]:
df[df.duplicated(keep=False)]

Empty DataFrame
Columns: [Docket_Number_, Eviction_Address, Executed_Date, Property_Type, Borough, Eviction_Postcode, Ejectment, Eviction/Legal_Possession, Latitude, Longitude, Neighborhood_Tabulation_Area]
Index: []

In [123]:
duplicate = df[df.duplicated('Eviction_Address')]

In [124]:
duplicate.sort_values(by=['Docket_Number_'], ascending=False)

,Docket_Number_,Eviction_Address,Executed_Date,Property_Type,Borough,Eviction_Postcode,Ejectment,Eviction/Legal_Possession,Latitude,Longitude,Neighborhood_Tabulation_Area
28729,496756,1311 COLLEGE AVENUE,2020-03-09,Residential,BRONX,10456,Not an Ejectment,Possession,40.835981,-73.911501,East Concourse-Concourse Village
35328,496704,2500 UNIVERSITY AVEN UE,2020-03-03,Residential,BRONX,10468,Not an Ejectment,Possession,40.865175,-73.903396,Kingsbridge Heights
54072,496564,530 W 30TH STREET,2020-03-04,Residential,MANHATTAN,10001,Not an Ejectment,Possession,40.752704,-74.002534,Hudson Yards-Chelsea-Flatiron-Union Square
46248,496507,2110 ARTHUR AVENUE,2020-02-13,Residential,BRONX,10457,Not an Ejectment,Possession,40.849868,-73.891292,East Tremont
36845,496411,2110 ARTHUR AVENUE,2020-02-26,Residential,BRONX,10457,Not an Ejectment,Possession,40.849868,-73.891292,East Tremont
...,...,...,...,...,...,...,...,...,...,...,...
52592,619,1168 ROCKAWAY AVENUE,2017-08-03,Commercial,BROOKLYN,11236,Not an Ejectment,Possession,40.650846,-73.905970,East New York
30561,594,38-21 12TH STREET,2017-12-13,Commercial,QUEENS,11101,Not an Ejectment,Possession,40.757772,-73.941171,Queensbridge-Ravenswood-Long Island City
48882,106,81 HULL STREET,2017-09-27,Residential,BROOKLYN,11233,Not an Ejectment,Possession,40.679146,-73.914374,Ocean Hill
37407,104,81 HULL STREET,2017-09-27,Residential,BROOKLYN,11233,Not an Ejectment,Possession,40.679146,-73.914374,Ocean Hill
60105,103,81 HULL STREET,2017-09-27,Residential,BROOKLYN,11233,Not an Ejectment,Possession,40.679146,-73.914374,Ocean Hill

In [118]:
duplicate[duplicate.duplicated(keep=False)]

Empty DataFrame
Columns: [Docket_Number_, Eviction_Address, Executed_Date, Property_Type, Borough, Eviction_Postcode, Ejectment, Eviction/Legal_Possession, Latitude, Longitude, Neighborhood_Tabulation_Area]
Index: []

In [129]:
duplicateDOCKET = df[df.duplicated(['Docket_Number_'],keep=False)]

In [131]:
duplicateDOCKET.sort_values(by=['Docket_Number_'], ascending=False)

,Docket_Number_,Eviction_Address,Executed_Date,Property_Type,Borough,Eviction_Postcode,Ejectment,Eviction/Legal_Possession,Latitude,Longitude,Neighborhood_Tabulation_Area
10425,492575,1125 WYATT STREET,2019-09-26,Residential,BRONX,10460,Not an Ejectment,Possession,40.839210,-73.876983,Crotona Park East
5107,492575,1125 WYATT STREET,2019-12-03,Residential,BRONX,10460,Not an Ejectment,Possession,40.839210,-73.876983,Crotona Park East
25565,491588,750 GRAND CONCOURSE,2019-12-03,Residential,BRONX,10451,Not an Ejectment,Possession,40.822893,-73.924652,East Concourse-Concourse Village
55976,491588,750 GRAND CONCOURSE,2019-08-02,Residential,BRONX,10451,Not an Ejectment,Possession,40.822893,-73.924652,East Concourse-Concourse Village
45379,491588,750 GRAND CONCOURSE,2020-03-02,Residential,BRONX,10451,Not an Ejectment,Possession,40.822893,-73.924652,East Concourse-Concourse Village
...,...,...,...,...,...,...,...,...,...,...,...
26425,1021,56 VERMONT STREET,2017-10-31,Commercial,BROOKLYN,11207,Not an Ejectment,Possession,40.678672,-73.895634,Cypress Hills-City Line
41965,999,713-715 HENRY ST.,2017-06-21,Residential,BROOKLYN,11231,Not an Ejectment,Possession,40.676622,-74.003014,Carroll Gardens-Columbia Street-Red Hook
52664,999,713-715 HENRY ST.,2017-01-19,Residential,BROOKLYN,11231,Not an Ejectment,Possession,40.676622,-74.003014,Carroll Gardens-Columbia Street-Red Hook
54806,796,320 BEACH 89 STREET,2017-06-15,Residential,QUEENS,11693,Not an Ejectment,Possession,40.588619,-73.813998,Hammels-Arverne-Edgemere
50915,796,1212 OCEAN AVENUE,2017-02-06,Residential,BROOKLYN,11230,Not an Ejectment,Possession,40.632432,-73.957671,Flatbush

In [127]:
df.loc[(df['Docket_Number_']== 89754)]

,Docket_Number_,Eviction_Address,Executed_Date,Property_Type,Borough,Eviction_Postcode,Ejectment,Eviction/Legal_Possession,Latitude,Longitude,Neighborhood_Tabulation_Area
498,89754,1665 BRYANT AVENUE,2019-05-02,Residential,BRONX,10460,Not an Ejectment,Possession,40.834982,-73.886018,Crotona Park East
700,89754,115-27 122ND STREET,2018-09-28,Residential,QUEENS,11420,Not an Ejectment,Possession,40.676945,-73.816567,South Ozone Park
26121,89754,1878 FOREST AVENUE,2019-01-25,Residential,STATEN ISLAND,10303,Not an Ejectment,Possession,40.625458,-74.151774,Mariner's Harbor-Arlington-Port Ivory-Granitev...

In [132]:
df.shape

(67182, 11)